<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <mcp>
            <general>
                <ai_chat_iframe_url></ai_chat_iframe_url>
            </general>
        </mcp>
    </default>
</config>
